/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif; /* 원하는 글꼴로 변경 가능 */
}

/* 네비게이션 바 스타일 */
nav {
  position: fixed; /* 고정 위치로 설정 */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  z-index: 2; /* 다른 요소 위에 표시되도록 설정 */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

/* 컨테이너 스타일 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 50px; /* 앱바(nav) 높이만큼 위에 여백 추가 */
}

/* 맵 컨테이너 스타일 */
.map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/* 지도 스타일 */
#map_div {
  width: 70%; /* 맵의 너비 조정 */
  height: 70vh;
}

/* 검색 컨테이너 스타일 */
.search-container {
  width: 10%; /* 검색창 컨테이너의 너비 조정 */
  padding: 10px;
}
#searchKeyword {
  width: calc(100% - 150px); /* 검색창의 너비를 조정하여 버튼을 포함한 전체 너비로 설정 */
  padding: 10px;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f2f2f2;
  font-size: 16px;
}

/* 검색 버튼 스타일 수정 */
#btn_select {
  width: 100px;
  padding: 10px;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
}

/* 검색 결과 목록 스타일 수정 */
.result-list {
  width: calc(100% - 150px + 100px);; /* 검색 결과 리스트의 너비 조정 */
  padding: 10px;
  overflow-y: auto;
  max-height: 70vh; /* 맵의 높이와 동일하게 설정 */
}

/* 검색 결과 아이템 스타일 수정 */
.result-item {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.result-item:hover {
  background-color: #e0e0e0;
}

/* 검색 결과 제목 스타일 수정 */
.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

/* 검색창 및 버튼 컨테이너 스타일 */
.search-container {
  width: 30%; /* 검색창 컨테이너의 너비 조정 */
  padding: 10px;
}

/* 앱바 스타일 */
.appbar {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽에 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  background-color: #1976D2; /* 앱바 배경색 */
  color: #FFF; /* 텍스트 색상 */
  padding: 10px; /* 내부 여백 */
}

/* 앱바 왼쪽에 위치한 타이틀 스타일 */
.appbar h1 {
  margin-left: 20px; /* 왼쪽 여백 추가 */
}

/* 오른쪽 버튼 스타일 */
.appbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 버튼 아이템 스타일 */
.appbar li {
  margin-left: 10px;
}

/* 버튼 스타일 */
.appbar a {
  text-decoration: none;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* 마우스 호버 시 버튼 색상 변경 */
.appbar a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* 오른쪽으로 이동 */
.appbar ul {
  margin-left: auto;
}
